body {
    width: 60rem;
    margin: auto;
}

.is-required {
    color: red;
}

#account-details, form {
    width: 100%;
}

#account-details {
    margin-bottom: 1rem;
}

#user-details label {
    width: 22%;
}

.subtitle {
    border-bottom: 1px solid #57C9A0;
}

#submit-button {
    margin-top: .5em;
}